*.pyc
.swp
.ipynb_checkpoints
*.egg-info/


# Some files I keep around but won't upload
testthis.hdf
3890_5819.gml
output.gml

# Data from kaggle, wont make it into my repo
Neural ODE Talk/data/*

notebooks/data/*

investment/data/*
investment/pws.txt

# no simple flask files
docs/host.py

# tex outputs
Neural ODE Talk/tex/talk.aux
Neural ODE Talk/tex/talk.log
Neural ODE Talk/tex/talk.nav
Neural ODE Talk/tex/talk.out
Neural ODE Talk/tex/talk.pdf
Neural ODE Talk/tex/talk.snm
Neural ODE Talk/tex/talk.synctex.gz
Neural ODE Talk/tex/talk.toc


# site monitor files
sitemonitor/chromedriver
sitemonitor/chromedriver_linux64.zip
sitemonitor/config.yml
sitemonitor/google-chrome-stable_97.0.4692.99-2_amd64.deb
sitemonitor/google-chrome-stable_current_x86_64.rpm
sitemonitor/wtf.png

# object files
*.o
a.out

#pws only on my machine
computing_in_china/pws.txt

# Dont keep track of side projects added in the api folder
computing_in_china/api/page/css/table.css
computing_in_china/api/page/js/module.js
computing_in_china/api/page/module.html
computing_in_china/tmp.txt
computing_in_china/api/page/guangfu.glb
computing_in_china/data.csv

# mp3 files do not go to github
luciddream/data/*


