*.pyc
.swp
.ipynb_checkpoints
*.egg-info/


# Some files I keep around but won't upload
testthis.hdf
3890_5819.gml
output.gml

# Data from kaggle, wont make it into my repo
Neural ODE Talk/data/*

# tex outputs
Neural ODE Talk/tex/talk.aux
Neural ODE Talk/tex/talk.log
Neural ODE Talk/tex/talk.nav
Neural ODE Talk/tex/talk.out
Neural ODE Talk/tex/talk.pdf
Neural ODE Talk/tex/talk.snm
Neural ODE Talk/tex/talk.synctex.gz
Neural ODE Talk/tex/talk.toc

# object files
*.o
a.out

